<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!-- Multimedia -->
	<package id="vlc" />
	<package id="kdenlive" />
	<package id="xnview" />
	<package id="handbrake" />
	<package id="youtube-dl" />
	<package id="audacity" />
	<package id="itunes" />
	<package id="gom-player" />
	<package id="obs-studio" />
	<package id="avidemux" />
	<package id="spotify" />

	<!-- Development -->
	<package id="git.install" />
	<package id="anaconda3" />
	<package id="putty.install" />
	<package id="vscode.install" />
	<package id="winscp.install" />
	<package id="azure-cli" />
	<package id="dbeaver" />
	<package id="sourcetree" />
	<package id="github-desktop" />
	<package id="sql-server-management-studio" />
	<package id="docker-desktop" />

	<!-- System & Utilities -->
	<package id="7zip.install" />
	<package id="calibre" />
	<package id="qbittorrent" />
	<package id="sharex" />
	<package id="teracopy" />
	<package id="openvpn-connect" />
	<package id="bluescreenview.install" />
	<package id="treesizefree" />
	<package id="spacesniffer" />
	<package id="bulkrenameutility" />
	<package id="mobaxterm" />
	<package id="vnc-viewer" />
	<package id="vnc-server" />
	<package id="notepadplusplus.install" />

	<!-- Google & Communication -->
	<package id="googledrive" />
	<package id="googlechrome" />
	<package id="chrome-remote-desktop-host" />
	<package id="discord.install" />
	<package id="whatsapp" />
	<package id="zoom" />
	<package id="antigravity" />
	<package id="office365business" />
</packages>
